@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
      background-color: #ffffff;
  color: #000000;
}
html {
  scroll-behavior: smooth;
  
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -0.015em;
}
button, input, textarea {
  transition: all 0.3s;
}